* {
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* tete de page */

section.top-page {
    background: url('../images/bg.png');
    background-size: cover;
}

/* bannières */

.landing-page {
    position: relative;
    padding: 50px 50px;
    color: white;
    font-size: 100px;
}

/* title */

.section-title {
    margin: 50px;
    font-size: 50px;
    font-weight: 100;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: #ADD981;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.sectionart {
    margin: 100px;
}

/* search */



/* select */

.divselect {
    margin: 50px;
}

/* TAB */

.button {
    color: white;
    padding: 5px;
}

td {
    text-align: center;
    padding: 10px;
}

.divtab {
    margin: 15px;
}

table {
    position: sticky;
    width: 100%;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

table,td {
    border: 1px solid black;
    border-collapse: collapse;
}

thead,tfoot {
    background-color: black;
}

/* pied de page */

footer {
    padding: 15px;
    display: flex;
    color: white;
    background-color: #2F2638;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}