* {
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    margin: 0 auto;
    width: 100%;
}


/* tete de page */

section.top-page {
    background: url('../images/bg.png');
    background-size: cover;
}


/* bannières */

.landing-page {
    position: relative;
    padding: 50px 50px;
    color: white;
    font-size: 100px;
}

/* TAB */

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}


/* Card */

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 30px;
    position: relative;
    box-shadow: 0 40px 60px -6px black;
}

.card-title {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #6184a8;
    padding: 2%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.card img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    display: block;
    position: relative;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*filter: blur(2px);*/
}

.card-desc {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    height: 371px;
    width: 330px;
    top: 0;
    opacity: 0;
    padding: 10px;
    background-color: #6184a8;
    overflow-y: scroll;
    transition: 0.8s ease;
}

.card:hover .card-desc {
    opacity: 1;
    height: 371px;
    width: 330px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* title */

.section-title {
    margin: 50px;
    font-size: 50px;
    font-weight: 100;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: #ADD981;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.sectionart {
    margin: 100px;
}

/* select */

.divselect {
    margin: 50px;
}


/* TAB */

.button {
    color: white;
    padding: 5px;
}

td {
    text-align: center;
}

.divtab {
    margin: 10px;
}

table,
td {
    border: 1px solid black;
}

thead,
tfoot {
    background-color: black;
    color: black;
}

/* pied de page */

footer {
    padding: 15px;
    display: flex;
    color: white;
    background-color: #2F2638;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

tr:nth-child(even) {
    background-color: #e0e0e0;
}

#popup {
    position: fixed;
    top: 15%;
    left: 15%;
    background-color: rgb(255, 0, 0);
    z-index: 9999;
}

.notshow {
    display: none;
}

#close {
    position: fixed;
    top: 1em;
    right: 1em;
    height: 2em;
    width: 2em;
    border-radius: 1em;
    background-color: black;
    color: aliceblue;
}