* {
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    margin: 0 auto;
    width: 100%;
}


/* tete de page */

section.top-page {
    background: url('../images/bg.png');
    background-size: cover;
}

/* bannières */

.landing-page {
    position: relative;
    padding: 50px 50px;
    color: white;
    font-size: 100px;
}

/* title */

.section-title {
    margin: 50px;
    font-size: 50px;
    font-weight: 100;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: #ADD981;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.sectionart {
    margin: 100px;
}

/* select */

.divselect {
    margin: 50px;
}

/* TAB */

.divtab {
    margin: 10px;
}

table,td {
    border: 1px solid black;
}

thead,tfoot {
    background-color: black;
    color: black;
}

/* pied de page */

footer {
    padding: 15px;
    display: flex;
    color: white;
    background-color: #2F2638;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}